<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.raillylinker.module_mybatis.mybatis_beans.mybatis1_main.mappers.Mybatis1_Template_TestData_Mapper">
    <!-- Result Mapping 객체 타입 정의 -->
    <resultMap
            id="mybatis1_template_testData"
            type="com.raillylinker.module_mybatis.mybatis_beans.mybatis1_main.entities.Mybatis1_Template_TestData"
    >
        <id column="uid" property="uid"/>
        <result column="row_create_date" property="rowCreateDate"/>
        <result column="row_update_date" property="rowUpdateDate"/>
        <result column="row_delete_date_str" property="rowDeleteDateStr"/>
        <result column="content" property="content"/>
        <result column="random_num" property="randomNum"/>
        <result column="test_datetime" property="testDatetime"/>
    </resultMap>

    <resultMap
            id="findAllOrderByNearestRandomNumResultVo"
            type="com.raillylinker.module_mybatis.mybatis_beans.mybatis1_main.models.FindAllOrderByNearestRandomNumResultVo"
    >
        <id column="uid" property="uid"/>
        <result column="row_create_date" property="rowCreateDate"/>
        <result column="row_update_date" property="rowUpdateDate"/>
        <result column="content" property="content"/>
        <result column="random_num" property="randomNum"/>
        <result column="test_datetime" property="testDatetime"/>
        <result column="distance" property="distance"/>
    </resultMap>

    <resultMap
            id="findAllOrderByNearestRowCreateDateResultVo"
            type="com.raillylinker.module_mybatis.mybatis_beans.mybatis1_main.models.FindAllOrderByNearestRowCreateDateResultVo"
    >
        <id column="uid" property="uid"/>
        <result column="row_create_date" property="rowCreateDate"/>
        <result column="row_update_date" property="rowUpdateDate"/>
        <result column="content" property="content"/>
        <result column="random_num" property="randomNum"/>
        <result column="test_datetime" property="testDatetime"/>
        <result column="timeDiffMicroSec" property="timeDiffMicroSec"/>
    </resultMap>

    <!-- 매퍼 함수 쿼리 추가 -->
    <select id="findByUid" parameterType="Long" resultMap="mybatis1_template_testData">
        <![CDATA[
        SELECT *
        FROM template.test_data
        WHERE uid = #{value}
          AND row_delete_date_str = '/'
        ]]>
    </select>

    <select id="findAllWithoutLogicalDeleted" resultMap="mybatis1_template_testData">
        <![CDATA[
        SELECT *
        FROM template.test_data
        WHERE row_delete_date_str = '/'
        ]]>
    </select>

    <select id="findAllLogicalDeleted" resultMap="mybatis1_template_testData">
        <![CDATA[
        SELECT *
        FROM template.test_data
        WHERE row_delete_date_str != '/'
        ]]>
    </select>

    <select id="findAll" resultMap="mybatis1_template_testData">
        <![CDATA[
        SELECT *
        FROM template.test_data
        ]]>
    </select>

    <update id="updateToRowDeleteDateStr"
            parameterType="com.raillylinker.module_mybatis.mybatis_beans.mybatis1_main.entities.Mybatis1_Template_TestData">
        <![CDATA[
        UPDATE template.test_data
        SET row_delete_date_str = #{rowDeleteDateStr}
        WHERE uid = #{uid}
        ]]>
    </update>

    <select id="findAllOrderByNearestRowCreateDate" parameterType="java.time.LocalDateTime" resultMap="findAllOrderByNearestRowCreateDateResultVo">
        <![CDATA[
        SELECT test_data.uid,
               test_data.content,
               test_data.random_num,
               test_data.test_datetime,
               test_data.row_create_date,
               test_data.row_update_date,
               ABS(TIMESTAMPDIFF(MICROSECOND, test_data.row_create_date, #{value})) AS timeDiffMicroSec
        FROM template.test_data AS test_data
        WHERE test_data.row_delete_date_str = '/'
        ORDER BY timeDiffMicroSec
        ]]>
    </select>

</mapper>