<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.raillylinker.module_mybatis.mybatis_beans.mybatis1_main.mappers.Mybatis1_Template_TestData_Mapper">

    <select id="findByUid" parameterType="Long" resultType="mybatis1_template_testData">
        SELECT *
        FROM template.test_data
        WHERE uid = #{value}
          AND row_delete_date_str = '/'
    </select>

    <select id="findAllWithoutLogicalDeleted" resultType="mybatis1_template_testData">
        SELECT *
        FROM template.test_data
        WHERE row_delete_date_str = '/'
    </select>

    <select id="findAllLogicalDeleted" resultType="mybatis1_template_testData">
        SELECT *
        FROM template.test_data
        WHERE row_delete_date_str != '/'
    </select>

    <select id="findAll" resultType="mybatis1_template_testData">
        SELECT *
        FROM template.test_data
    </select>

    <update id="updateToRowDeleteDateStr" parameterType="mybatis1_template_testData">
        UPDATE template.test_data
        SET row_delete_date_str = #{rowDeleteDateStr}
        WHERE uid = #{uid}
    </update>

</mapper>